.card {
    margin-bottom: 20px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.15s ease-in-out
}

.card:hover {
    box-shadow:  0 6px 20px 0 rgba(0, 0, 0, 0.36);
}

#header {
    margin-top: 20px;
    margin-bottom: 20px
}